
    <footer class="main-footer d-flex bg-white border-top">
        <span class="copyright ml-auto my-auto mr-2"> 
            <b>Disclaimer</b>
            <p class="text-justify" style="font-size: 12px; ">IntelliInvestor do not provide any investing or trading recommendation or advices. IntelliInvestor is just an AI based research platform and the part of an Ambilio's project.
                 You are getting just a free research preview of it which only provides information. Please consult your financial/investment advisor for any investment decisions. <hr>
                 <p class="text-center"> Copyright <script>document.write(new Date().getFullYear());</script> @ Ambilio. All rights reserved. </p></p>
        </span>
    </footer>
