
    <span><p class="text-justify" style="font-size: 12px; margin-bottom: 0.5rem;"><b>Disclaimer</b><br><i>IntelliInvestor do not provide any investing or trading recommendation or advices. IntelliInvestor is just an AI based research platform and the part of an Ambilio's project.
        You are getting just a free research preview of it which only provides information. Please consult your financial/investment advisor for any investment decisions.</i> </p></span>
        
    <footer class="main-footer d-flex bg-white border-top"  style="height: 2.75rem;">
        <span class="copyright ml-auto my-auto mr-2"> 
            <p class="text-center"> Copyright <script>document.write(new Date().getFullYear());</script> @ Ambilio. All rights reserved. </p>
        </span>
    </footer>
