{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="main-content-container container-fluid px-4 mb-4 mt-2">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <h3>Intelli<span>In</span>vestor</h3>
        </div>
      </div>
      <!-- End Page Header -->
      <!-- Default Light Table -->
        <div class="flex w-3/4 mx-auto bg-white rounded-lg shadow-xl overflow-hidden">
         <!-- Sign In Section -->
         <div class="w-3/5 p-10">
          <h2 class="text-4xl font-bold mb-10" style="color: #333333;">
           REGISTER
          </h2>
          <h6 class="m-0">
                
            {% if msg %}
              {{ msg | safe }}
            {% endif %}  

          </h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-3">
              <div class="row">
                <div class="col">

                  {% if success %}

                    <p>
                      Please <a href={% url 'login' %}>authenticate</a> using the new account.
                    </p>  

                  {% else %}
          <form role="form" method="post" action="" class="pt-3">
              
            {% csrf_token %} 

            <div class="form-row">
              <div class="form-group col-sm">
                {{ form.username }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm">
                {{form.email }}
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm">
                {{ form.password1 }}
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm">
                {{ form.password2 }}
              </div>
            </div>
            <span class="text-danger">{{ form.password2.errors }}</span>
                        
            <button type="submit" name="register" class="px-4 py-2 text-white transform bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Register</button>
            &nbsp; &nbsp; 
            Have an account? <a href={% url 'login' %} class="text-primary">Login</a>
          </form>
          {% endif %}

        </div>
      </div>
    </li>
  </ul>

         </div>
         <!-- Image and Register Section -->
         <div class="w-2/5 bg-blue-500 text-white p-10 relative" style="background-image: url('/static/assets/img/login.png');" >
          <img alt="Abstract background with a mountain landscape and a teal overlay with patterns" class="absolute top-0 right-0 bottom-0 w-full h-full object-cover opacity-50" height="800" src="/static/assets/img/login.png" width="600"/>
        </div>
      <!-- End Default Light Table -->
    </div>

<style>
      h3 {
        font-family: "Inter";
        font-size: 70px;
        font-weight: 600;
        margin: 0px;
        color: Black;
        user-select: none;
        z-index: 0;
      }
    
      h3 span {
        color: #03c988;
      }
      .myDiv {width: 600px; /* Set the width of the div */ 
                 height: 800px; /* Set the height of the div */    
                background-image: url('/static/assets/img/login.png'); /* Specify the path to your image */   
         }
</style>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
