{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-3">
    <h3>Intelli<span>In</span>vestor</h3>
  </div>
</div>
<!-- End Page Header -->
<!-- Small Stats Blocks -->
<div class="row">
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Nifty 50</span>
            <h6 class="stats-small__value count my-3">
              <span id="nifty-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="nifty-details"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Sensex</span>
            <h6 class="stats-small__value count my-3">
              <span id="sensex-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="sensex-details"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">India Vix</span>
            <h6 class="stats-small__value count my-3">
              <span id="vix-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="vix-details"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Bank Nifty</span>
            <h6 class="stats-small__value count my-3">
              <span id="bank-nifty-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="bank-nifty-details"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- End Small Stats Blocks -->
<div class="row" id="historical-div-main">
  <!-- First Column -->
  <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
    <!-- Historical Data -->
    <div class="card card-small">
      <div class="card-header border-bottom">
        <form method="get" action="{% url 'search' %}" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
          <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <input class="navbar-search form-control" type="text" name="q" id="search-input" value="{{ keyword }}"
              placeholder="Search for something..." aria-label="Search">
          </div>
        </form>
        <div id="search-results" style="overflow: auto; z-index: 1; position: absolute; background: white;"></div>
      </div>
      <div class="card-body pt-0">
        <div class="row border-bottom py-2 bg-light">

          <div class="input-daterange input-group" id="datepicker">

            <input type="date" class="input-sm form-control ml-3" id="historical-start-date" name="start"
              placeholder="Start date">
            <input type="date" class="input-sm form-control" id="historical-end-date" name="end" placeholder="End date">

            <div class="col-sm-3">
              <select class="form-control" id="interval" placeholder="Interval">
                <option value="">Select an interval</option>
                <option value="1m">1 min</option>
                <option value="5m">5 min</option>
                <option value="15m">15 min</option>
                <option value="30m">30 min</option>
                <option value="1h">1 hour</option>
                <option value="1d">1 day</option>
                <option value="1wk">1 week</option>
                <option value="1mo">1 month</option>
                <option value="3mo">3 month</option>
              </select>
            </div>
          </div>
        </div>
        <canvas height="130" style="max-width: 100% !important;" class="historical-data-graph"
          id="historical-data-graph"></canvas>
      </div>
    </div>

    <!-- Predictions Data -->
    <div class="card card-small mt-4" style="min-height: 350px">
      <div class="card-body pt-0" , id="signal-graph-1">
        <div class="row border-bottom py-2 bg-light">
          <div class="input-daterange input-group">
            <!-- <input type="number" class="input-sm form-control ml-3" id="price" name="price" min="100" required placeholder="Enter The Price" value="1000"> -->
            <div class="col-lg-6">
              <label for="duration">Investment: ₹ <span id="investment-value">1000</span></label>
              <input placeholder="Investment: 1" type="range" class="input-sm form-control-range" id="price"
                name="price" min="1000" max="100000" value="1000" oninput="updatePriceValue(this.value)">
            </div>
            <div class="col-lg-6">
              <label for="duration">Duration (months): <span id="duration-value">1</span></label>
              <input placeholder="Duration (months): 1" type="range" class="input-sm form-control-range" id="duration"
                name="duration" min="1" max="60" value="1" oninput="updateDurationValue(this.value)">
            </div>
          </div>
        </div>
        <div id="pred-chart-div">
          <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
        </div>
        <!-- {{ pred_chart|safe }} -->
      </div>
    </div>
    <!-- Signals Data -->
    <div class="card card-small mt-4" style="min-height: 400px">
      <div class="card-body pt-0" , id="signal-graph">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
    </div>


  </div>
  <!-- Second Column -->
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card card-small" style="min-height: 450px">
      <div class="card-header border-bottom">
        <h6 class="m-0">Global Indicators</h6>
      </div>
      <div id="global-indicator">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>

    <div class="card card-small mt-4" style="min-height: 250px">
      <div class="card-header border-bottom">
        <h6 class="m-0">Top Gainers</h6>
      </div>
      <div id="top-gainer">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>
    <div class="card card-small mt-4" style="min-height: 250px;">
      <div class="card-header border-bottom">
        <h6 class="m-0">Top Loosers</h6>
      </div>
      <div id="top-looser">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>
    <div class="card card-small mt-4" style="min-height: 250px;">
      <div class="card-header border-bottom">
        <h6 class="m-0">Top Crypto</h6>
      </div>
      <div id="top-crypto">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>
  </div>
</div>

<!-- Research Portfolio Investment -->
<style>
  /* Apply CSS to style the label and input containers */
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add some space between each input group */
  }
</style>

<div class="home_search">
  <div class="row">
    <div class="col">
      <div class="home_search_container">
        <div class="home_search_title">Personalized Investment</div>
        <div class="home_search_content">
          <form action="." class="home_search_form" id="home_search_form" method="post">
            {% csrf_token %}
            <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
              <div class="label">
                <label for="amount_input"><b>Invested Amount (₹)</b></label>
                <input type="number" class="search_input search_input_1" placeholder="Amount" required="required" min="1000" max="1000000" style="width: 200px;">
              </div>

              <div class="label">
                <label for="duration_input"><b>Duration (months)</b></label>
                <input type="number" class="search_input search_input_2" placeholder="Duration" required="required" min="1" max="60" style="width: 200px;">
              </div>

              <div class="label">
                <label for="priority_select"><b>Risk</b></label>
                <select class="search_input search_input_3" required="required" style="width: 200px;">
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>
              <button class="home_search_button" id="submit_button" style="margin-top: 25px;">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Research Portfolio Investment Cards-->
<div class="cards" id="card_row">
</div>


<!-- Chatbot -->
<div class="botIcon">
	<div class="botIconContainer">
		<div class="iconInner">
			<i class="fa fa-commenting" aria-hidden="true"></i>
		</div>
	</div>
	<div class="Layout Layout-open Layout-expand Layout-left" style="right: 20px;min-width: 375px;min-height: 500px;">
		<div class="Messenger_messenger">
			<div class="Messenger_header">
				<h4 class="Messenger_prompt">IntelliInvestor Bot</h4> <span class="chat_close_icon"><i class="fa fa-window-close" aria-hidden="true"></i></span>
			</div>
			<div class="Messenger_content">
				<div class="Messages">
					<div class="Messages_list"></div>
				</div>
				<form id="messenger">
					<div class="Input Input-blank">
<!-- 							<textarea name="msg" class="Input_field" placeholder="Send a message..."></textarea> -->
						<input name="msg" class="Input_field" placeholder="Send a message...">
						<button type="submit" class="Input_button Input_button-send">
							<div class="Icon">
								<svg viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
										<path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C5.08414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
									</g>
								</svg>
							</div>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Chatbot -->


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
  jQuery(document).ready(function($) {
	jQuery(document).on('click', '.iconInner', function(e) {
		jQuery(this).parents('.botIcon').addClass('showBotSubject');
		$("[name='msg']").focus();
	});

	jQuery(document).on('click', '.closeBtn, .chat_close_icon', function(e) {
		jQuery(this).parents('.botIcon').removeClass('showBotSubject');
		jQuery(this).parents('.botIcon').removeClass('showMessenger');
	});

	jQuery(document).on('submit', '#botSubject', function(e) {
		e.preventDefault();

		jQuery(this).parents('.botIcon').removeClass('showBotSubject');
		jQuery(this).parents('.botIcon').addClass('showMessenger');
	});
	
	/* Chatboat Code */
	$(document).on("submit", "#messenger", function(e) {
		e.preventDefault();

		var val = $("[name=msg]").val().toLowerCase();
		var mainval = $("[name=msg]").val();
		name = '';
		nowtime = new Date();
		nowhoue = nowtime.getHours();
    // Get the CSRF token from cookies
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Cookie name is in the format "csrftoken=<token>"
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    // Get the CSRF token
    var csrftoken = getCookie('csrftoken');

    // Add the CSRF token to the request headers
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader('X-CSRFToken', csrftoken);
        }
      }
    });

		function userMsg(msg) {
			$('.Messages_list').append('<div class="msg user"><span class="avtr"><figure style="background-image: url(https://cdn3d.iconscout.com/3d/premium/thumb/young-man-5748694-4800737.png)"></figure></span><span class="responsText">' + mainval + '</span></div>');
      // Show typing indicator
			$('.Messages_list').append('<div class="msg typing"><span class="avtr"><figure style="background-image: url(https://mrseankumar25.github.io/Sandeep-Kumar-Frontend-Developer-UI-Specialist/images/avatar.png)"></figure></span><span class="responsText"></span></div>');
		};
    function appendMsg(msg) {
		// Simulate delay before displaying the actual user message
			setTimeout(function() {
		// Remove the typing indicator
		$('.Messages_list .msg.typing').remove();
	
			$('.Messages_list').append('<div class="msg"><span class="avtr"><figure style="background-image: url(https://mrseankumar25.github.io/Sandeep-Kumar-Frontend-Developer-UI-Specialist/images/avatar.png)"></figure></span><span class="responsText">' + msg + '</span></div>');
			 }, 1000); // You can adjust the delay time (in milliseconds) as per your requirement
		};


		userMsg(mainval);
    $("[name='msg']").val("");
    let chatUrl = "{% url 'chat-bot' %}";
    $.ajax({
        url: chatUrl,
        type: 'POST',
        data: {
          val: mainval},
        success: function (response) {
          console.log(response.result)
          appendMsg(response.result)
        },
        error: function () {
          console.log('API request failed.');
        }
      });
		var lastMsg = $('.Messages_list').find('.msg').last().offset().top;
		$('.Messages').animate({scrollTop: lastMsg}, 'slow');
	});
	/* Chatboat Code */
})
</script>
<script>
  var gaugeOpts = {
    angle: 0, // The span of the gauge arc
    lineWidth: 0.3, // The line thickness
    radiusScale: 0.9, // Relative radius
    pointer: {
      length: 0.42, // // Relative to gauge radius
      strokeWidth: 0.029, // The thickness
      color: '#000000' // Fill color
    },
    limitMax: true,     // If false, max value increases automatically if value > maxValue
    limitMin: true,     // If true, the min value of the gauge will be fixed
    colorStart: '#6F6EA0',   // Colors
    colorStop: '#C0C0DB',    // just experiment with them
    strokeColor: '#EEEEEE',  // to see which ones work best for you
    generateGradient: true,
    highDpiSupport: true,
    staticZones: [
      { strokeStyle: "#F03E3E", min: -1, max: -0.1 }, // Red from -1 to -0.1
      { strokeStyle: "#FFDD00", min: -0.1, max: 0.1 }, // Yellow -0.1 to 0.1
      { strokeStyle: "#30B32D", min: 0.1, max: 1 }, // Green 0.1 to 1
    ],
    staticLabels: {
      font: "15px sans-serif",  // Specifies font
      labels: [-1, 0, 1],  // Print labels at these values
      color: "#000000",  // Optional: Label text color
      fractionDigits: 0
    },

  };

  function updateSentimentsGauge(canvasdiv, val) {
    // Create a new chart if it doesn't exist
    var target = document.getElementById(canvasdiv);

    var gauge = new Gauge(target).setOptions(gaugeOpts); // create sexy gauge!
    gauge.maxValue = 1; // set max gauge value
    gauge.setMinValue(-1);  // Prefer setter over gauge.minValue = 0
    gauge.animationSpeed = 10; // set animation speed (32 is default value)
    gauge.set(val);
  }

  var expanderChart = null;
  var expanderChartData = {
    labels: "",
    datasets: [{
      label: "",
      data: "",
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }]
  };

  function updateChartDataExpander(data) {
    expanderChartData.labels = data.dates;
    expanderChartData.datasets[0].data = data.prices;
    expanderChartData.datasets[0].label = data.stock_name;
  }

  // Update the chart with new data
  function updateExpanderCardChart(data_label, chartCanvas) {
    // Create a new chart if it doesn't exist
    var expander_ctx = document.getElementById(chartCanvas).getContext('2d');

    expander_chart = new Chart(expander_ctx, {
      type: 'line',
      data: expanderChartData,
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }

    });
  }

  function inputChangedFunction(stock_id) {
    const startDateInputRisk = document.getElementById('historical-start-date-risk_' + stock_id);
    const endDateInputRisk = document.getElementById('historical-end-date-risk_' + stock_id );
    const intervalInputRisk = document.getElementById('interval-risk_' + stock_id );

    startDateInputRisk.addEventListener('change', function () {
              var startDate = startDateInputRisk.value;
              var endDate = endDateInputRisk.value;
              var interval = intervalInputRisk.value;

              // call the fetchValue function with updated values
              fetchValueRisk(stock_id, startDate, endDate, interval);
            });
    endDateInputRisk.addEventListener('change', function () {
              var startDate = startDateInputRisk.value;
              var endDate = endDateInputRisk.value;
              var interval = intervalInputRisk.value;

              // call the fetchValue function with updated values
              fetchValueRisk(stock_id, startDate, endDate, interval);
            });

    intervalInputRisk.addEventListener('change', function () {
              var startDate = startDateInputRisk.value;
              var endDate = endDateInputRisk.value;
              var interval = intervalInputRisk.value;

              // call the fetchValue function with updated values
              fetchValueRisk(stock_id, startDate, endDate, interval);
            });

  }

  function fetchStockChartValues(stock_id) {
    inputChangedFunction(stock_id)

    let url = "{% url 'historical-data' %}?";
    url += `stock_id=${stock_id}`;
    var chartDiv = 'personalized-portfolio-expander-card_' + stock_id
    chartCanvas = 'expander-card-graph_' + stock_id
    expanderCavasHtml = '<canvas height="130" style="max-width: 100% !important;" id="' + chartCanvas + '"></canvas>'

    fetch(url)
      .then(response => response.json())
      .then(data => {
        var expandercontainer = document.getElementById(chartDiv);
        expandercontainer.innerHTML = expanderCavasHtml;
        expandercontainer.style.height = 'auto';
        updateChartDataExpander(data);
        updateExpanderCardChart(data.chart_string, chartCanvas);
      })
      .catch(error => console.error(error));
      
  }

  function fetchStocknews(stock_id) {

    let url = "{% url 'stock-news' %}?";
    url += `stock_id=${stock_id}`;
    var newsOutterDiv = 'news-expander-card_' + stock_id
    var sentimentsOutterDiv = 'sentiments-expander-card_' + stock_id
    var sentimentsCanvasDiv = 'sentiments-canvas-card_' + stock_id
    sentimentsCavasHtml = '<canvas style="max-width: 100% !important;" id="' + sentimentsCanvasDiv + '"></canvas>'
    newsDiv = 'news_' + stock_id

    fetch(url)
      .then(response => response.json())
      .then(data => {
        console.log(data)
        newsMainHTML = ""
        var newsData = data.news
        if (newsData.length === 0) {
          // If there are no news items, show a message indicating that
          newsMainHTML = '<div class="description">Recent news are not available for this stock.</div>';
        } else {
          for (var i = 0; i < newsData.length; i++) {
            var truncatedDescription = newsData[i].description.slice(0, 100) + "...";
            news = '<div class="news-container" id="' + newsDiv + '">' +
              '<div class="headline">' +
              '<a href="' + newsData[i].url + '">' + newsData[i].headline + '</a>' +
              '</div>' +
              '<div class="description">' + truncatedDescription +
              '</div>' +
              '<div class="source">Source: ' + newsData[i].source +
              '</div>' +
              '</div>';
            newsMainHTML += news;
          }
        }
        var newsExpanderContainer = document.getElementById(newsOutterDiv);
        newsExpanderContainer.innerHTML = newsMainHTML;
        newsExpanderContainer.style.height = 'auto';
        // Update the HTML for the circular gauge
        var averageSentimentScore = data.sentiment_score
        var sentimentValue = data.sentiment_val
        var sentimentsCanvasDiv = 'sentiments-canvas-card_' + stock_id
        var gaugeHTML = '<div>' +
                            '<div style="display: flex; justify-content: center;">' +
                              '<canvas style="max-width: 100% !important;" id="' + sentimentsCanvasDiv + '"></canvas>' +
                            '</div>' +
                            '<div style="justify-content: center;display: flex; flex-direction: column; align-items: center;">' +
                              '<div class="description" style="justify-content: center;">' + averageSentimentScore.toFixed(2) +
                              '</div>' +
                              '<div class="source" style="justify-content: center;">' + sentimentValue +
                              '</div>' +
                            '</div>' +
                          '</div>';


        // Append the gauge HTML to a container element in your page
        var gaugeContainer = document.getElementById(sentimentsOutterDiv);
        gaugeContainer.innerHTML = gaugeHTML;
        updateSentimentsGauge(sentimentsCanvasDiv, averageSentimentScore);
        gaugeContainer.style.height = 'auto';

      })
      .catch(error => console.error(error));

  }

  $(document).ready(function () {
    // Get the CSRF token from cookies
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Cookie name is in the format "csrftoken=<token>"
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    // Handle click event of the submit button
    $('#submit_button').click(function (e) {
      e.preventDefault(); // Prevent the form from submitting

      // Get the input values
      var amount = $('.search_input_1').val();
      var duration = $('.search_input_2').val();
      var risk = $('.search_input_3').val();
      let personalized_investment = "{% url 'personalized-investment' %}?";
      var loaderHTML = `<div class="card card-small mt-4" style="min-height: 200px;min-width: -webkit-fill-available;">
                        <div class="card-body pt-0">
                          <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
                        </div>
                      </div>`;
      $('#card_row').html(loaderHTML);
      personalized_investment += `amount=${amount}`;
      personalized_investment += `&duration=${duration}&risk=${risk}`;
      // Get the CSRF token
      // var csrftoken = getCookie('csrftoken');

      // // Add the CSRF token to the request headers
      // $.ajaxSetup({
      //   beforeSend: function (xhr, settings) {
      //     if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
      //       xhr.setRequestHeader('X-CSRFToken', csrftoken);
      //     }
      //   }
      // });

      // Make the API call
      $.ajax({
        url: personalized_investment,
        type: 'GET',
        success: function (response) {
          // Process the API response and generate the cards
          var cardsHtml = '';
          for (var rank in response) {
            var cardData = response[rank];
            var cardHtml = '<div class="my-card [ is-collapsed ] " id=' + cardData.id + '>' +
              '<div class="my-card__inner [ js-expander ]">' +
              '<h6 class="my-card-title border-bottom"><strong>' + cardData.name + '</strong></h6>'+
              '<div class="my-card-body">' +
              '<p class="my-card-text"><i class="fas fa-coins"></i> Stock Price: ' + cardData['Stock Price'] + '</p>' +
              '<p class="my-card-text"><i class="fa fa-chart-bar"></i> Number of Stocks: ' + cardData['number of stocks'] + '</p>' +
              '<p class="my-card-text"><i class="fa fa-box-open"></i> Package Value: ' + cardData['package value'] + '</p>' +
              '<p class="my-card-text"><i class="fas fa-chart-line"></i> Est. Return: ' + cardData['est_return'] + '</p>' +
              '<p class="my-card-text"><i class="fa fa-exclamation-triangle"></i> Risk: ' + cardData.risk + '</p>' +
              '</div>' +
              '</div>' +
              '<div class="my-card__expander">' +
            '<div class="card-expander-row ml-2">' +
              '<div class="col-lg-12 mb-3">' +
                '<h6 class="mt-3 border-bottom">Growth Chart</h6>' +
      
              '<div class="card-body pt-0">' +
                '<div class="row border-bottom py-2 bg-light">' +
                  '<div class="input-daterange input-group" id="datepicker">' +
                    '<input type="date" class="input-sm form-control ml-3" id="historical-start-date-risk_' + cardData.id + '"' + 'name="start" placeholder="Start date">' +
                    '<input type="date" class="input-sm form-control" id="historical-end-date-risk_' + cardData.id + '"' + 'name="end" placeholder="End date">' +
                    '<div class="col-sm-3">' +
                      '<select class="form-control" id="interval-risk_' + cardData.id + '"' + 'placeholder="Interval">' +
                        '<option value="">Select an interval</option>' +
                        '<option value="1m">1 min</option>' +
                        '<option value="5m">5 min</option>' +
                        '<option value="15m">15 min</option>' +
                        '<option value="30m">30 min</option>' +
                        '<option value="1h">1 hour</option>' +
                        '<option value="1d">1 day</option>' +
                        '<option value="1wk">1 week</option>' +
                        '<option value="1mo">1 month</option>' +
                        '<option value="3mo">3 month</option>' +
                      '</select>' +
                    '</div>' +
                  '</div>' +
                '</div>' +
              '</div>'+

              '<div id="personalized-portfolio-expander-card_' + cardData.id + '">' +
                    '<div class="loader mt-20" style="display: flex; align-items: center; justify-content: center; top: revert;"></div>' +
                  '</div>' +
                '</div>' +
              '</div>' +
              '<div class="card-expander-row ml-2">' +
              '<div class="card-expander-column">' +
              '<h6 class="mt-3 border-bottom">Market News</h6>' +
              '<div id="news-expander-card_' + cardData.id + '">' +
              '<div class="description">Recent news are not available for this stock.</div>' +
              '</div>' +
              '</div>' +
              '<div class="card-expander-column-1">' +
              '<h6 class="mt-3 border-bottom">Market Sentiment</h6>' +
              '<div id="sentiments-expander-card_' + cardData.id + '">' +
              '<div class="description">Sentimental Views are not available for this stock.</div>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</div>';


            cardsHtml += cardHtml;
          }



          // Append the generated cards to the card row
          $('#card_row').html(cardsHtml);
          var $cell = $('.my-card');

          //open and close card when clicked on card
          $cell.find('.js-expander').click(function () {

            var $thisCell = $(this).closest('.my-card');
            var cardId = $thisCell.attr('id');
            console.log(cardId)

            if ($thisCell.hasClass('is-collapsed')) {
              fetchStockChartValues(cardId)
              fetchStocknews(cardId)
              $cell.not($thisCell).removeClass('is-expanded').addClass('is-collapsed').addClass('is-inactive');
              $thisCell.removeClass('is-collapsed').addClass('is-expanded');

              if ($cell.not($thisCell).hasClass('is-inactive')) {
                //do nothing
              } else {
                $cell.not($thisCell).addClass('is-inactive');
              }

            } else {
              $thisCell.removeClass('is-expanded').addClass('is-collapsed');
              $cell.not($thisCell).removeClass('is-inactive');
            }
          });

          //close card when click on cross
        },
        error: function () {
          console.log('API request failed.');
        }
      });
    });
  });


  function resetForm() {
    document.getElementById("historical-start-date").value = "";
    document.getElementById("historical-end-date").value = "";
    document.getElementById("price").value = 1000;
    document.getElementById("duration").value = 1;
    updatePriceValue(1000);
    updateDurationValue(1);
    document.getElementById("interval").selectedIndex = 0;
  }
  const searchInput = document.getElementById('search-input');
  const searchResults = document.getElementById('search-results');

  searchInput.addEventListener('input', (event) => {
    const keyword = event.target.value;
    if (keyword) {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/search/?q=${keyword}`);
      xhr.onreadystatechange = () => {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const items = JSON.parse(xhr.responseText);
            let html = '';
            if (items.length > 0) {
              html += '<p style="margin-bottom:auto;">';
              for (const item of items) {
                html += `<a href="#" onclick="changeAllGraph('${item.stock_id}')" class="search-result">${item.name}</a><br>`;
              }
              html += '</p>';
            }
            else {
              html += '<p>No Stocks found.</p>';
            }
            searchResults.innerHTML = html;
          } else {
            searchResults.innerHTML = 'Error';
          }
        }
      };
      xhr.send();
    } else {
      searchResults.innerHTML = '';
    }
  });
  function changeAllGraph(id) {
    // Your JavaScript code goes here
    console.log(id)
    fetchValue(id);
    resetForm();
    stock_id = id
    var searchInput = document.getElementById('search-input');

    // Set the value of the input field to an empty string
    searchInput.value = '';
    searchResults.innerHTML = '';
    updateHTMLPriceAndDuration(1000, 1);
    forecastValue(1000, 1);
    updatesignalChartStart();
  }
  searchResults.addEventListener('click', (event) => {
    if (event.target.classList.contains('search-result')) {
      event.preventDefault();
      const href = event.target.getAttribute('href');
      window.location.href = href;
    }
  }); 
</script>

<script>
  function updateDurationValue(value) {
    document.getElementById("duration-value").innerHTML = value;
  }
  function updatePriceValue(value) {
    document.getElementById("investment-value").innerHTML = value;
  }

  let indian_index_url = "{% url 'indian-index-status' %}";
  function updateData() {
    $.ajax({
      type: 'GET',
      url: indian_index_url,
      success: function (response) {
        var nifty50 = response["Nifty 50"];
        var sensex = response["Sensex"];
        var indiaVIX = response["India VIX"];
        var bankNifty = response["Bank Nifty"];

        $("#nifty-details").text(nifty50.change + " " + "(" + nifty50.percentage_change + "%)");
        $("#nifty-price").text(nifty50.price);

        if (nifty50.change < 0) {
          $("#nifty-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#nifty-details").addClass("stats-small__percentage--increase");
        }

        $("#sensex-details").text(sensex.change + " " + "(" + sensex.percentage_change + "%)");
        $("#sensex-price").text(sensex.price);

        if (sensex.change < 0) {
          $("#sensex-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#sensex-details").addClass("stats-small__percentage--increase");
        }

        $("#vix-details").text(indiaVIX.change + " " + "(" + indiaVIX.percentage_change + "%)");
        $("#vix-price").text(indiaVIX.price);

        if (indiaVIX.change < 0) {
          $("#vix-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#vix-details").addClass("stats-small__percentage--increase");
        }

        $("#bank-nifty-details").text(bankNifty.change + " " + "(" + bankNifty.percentage_change + "%)");
        $("#bank-nifty-price").text(bankNifty.price);

        if (bankNifty.change < 0) {
          $("#bank-nifty-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#bank-nifty-details").addClass("stats-small__percentage--increase");
        }
      }
    });
  }
  updateData()
  $(document).ready(function () {
    setInterval(updateData, 8000); //update data every 5 seconds
  });


  let today = new Date().toISOString().split('T')[0];
  document.getElementById("historical-start-date").setAttribute("max", today);
  document.getElementById("historical-end-date").setAttribute("max", today);
  var stock_id = "{{stock_id}}";

  function fetchValueRisk(stock_id, startDate, endDate, interval) {

    // Validate that the start date is less than the end date
    if (startDate && endDate && startDate >= endDate) {
      alert('The start date must be less than the end date.');
      return;
      // your API call logic here
    }

    const newStartDate = new Date(startDate);
    const newEndDate = new Date(endDate);
    const diffDays = (newEndDate - newStartDate) / (1000 * 60 * 60 * 24);
    if (!interval) {
      if (diffDays <= 1) {
        interval = "5m";
      } else if (diffDays > 1 && diffDays <= 5) {
        interval = "30m";
      } else if (diffDays > 5 && diffDays <= 20) {
        interval = "1h";
      } else if (diffDays > 20 && diffDays <= 90) {
        interval = "1d";
      } else if (diffDays > 90 && diffDays <= 730) {
        interval = "1wk";
      } else if (diffDays > 730 && diffDays < 3650) {
        interval = "1mo";
      } else {
        interval = "3mo";
      }
    }
    let url = "{% url 'historical-data' %}?";
    url += `stock_id=${stock_id}`;

    if (startDate && endDate) {
      url += `&start_date=${startDate}&end_date=${endDate}`;
    }
    if (interval) {
      url += `&interval=${interval}`;
    }

    fetch(url)
      .then(response => response.json())
      .then(data => {
        updateChartDataExpander(data);
        updateExpanderCardChart(data.chart_string, chartCanvas);
      })
      .catch(error => console.error(error));

  }

  function fetchValue(stock_id, startDate, endDate, interval) {

// Validate that the start date is less than the end date
if (startDate && endDate && startDate >= endDate) {
  alert('The start date must be less than the end date.');
  return;
  // your API call logic here
}

const newStartDate = new Date(startDate);
const newEndDate = new Date(endDate);
const diffDays = (newEndDate - newStartDate) / (1000 * 60 * 60 * 24);
if (!interval) {
  if (diffDays <= 1) {
    interval = "5m";
  } else if (diffDays > 1 && diffDays <= 5) {
    interval = "30m";
  } else if (diffDays > 5 && diffDays <= 20) {
    interval = "1h";
  } else if (diffDays > 20 && diffDays <= 90) {
    interval = "1d";
  } else if (diffDays > 90 && diffDays <= 730) {
    interval = "1wk";
  } else if (diffDays > 730 && diffDays < 3650) {
    interval = "1mo";
  } else {
    interval = "3mo";
  }
}
let url = "{% url 'historical-data' %}?";
url += `stock_id=${stock_id}`;

if (startDate && endDate) {
  url += `&start_date=${startDate}&end_date=${endDate}`;
}
if (interval) {
  url += `&interval=${interval}`;
}

fetch(url)
  .then(response => response.json())
  .then(data => {
    updateChartData(data);
    updateChart();
    updateHTML(data);
  })
  .catch(error => console.error(error));

}


  predCavasHtml = `<canvas height="130" style="max-width: 100% !important;" class="pred-data-graph"
          id="pred-data-graph"></canvas>`
  function forecastValue(price, duration) {

    // Validate that the start date is less than the end date
    if (price < 100) {
      alert('Please Enter Price Greater than 100');
      return;
      // your API call logic here
    }


    let url = "{% url 'forecast-data' %}?";
    url += `stock_id=${stock_id}`;

    if (price) {
      url += `&price=${price}`;
    }
    if (duration) {
      url += `&duration=${duration}`;
    }

    fetch(url)
      .then(response => response.json())
      .then(data => {
        var predcontainer = document.getElementById('pred-chart-div');
        predcontainer.innerHTML = predCavasHtml;
        predcontainer.style.height = 'auto';
        updateChartDataForecast(data);
        updateChartForecast(data.chart_string);
        updateHTMLPriceAndDuration(price, duration);
      })
      .catch(error => console.error(error));

  }

  function updatesignalChart() {
    let signal_url = "{% url 'signal-data-graph' %}?";
    signal_url += `stock_id=${stock_id}`;
    const now = new Date();
    const hours = now.getUTCHours() + 5.5; // Add 5.5 hours for IST timezone offset
    const minutes = now.getUTCMinutes();
    const currentTime = hours * 60 + minutes;

    // Check if the current time is between 9:15 am and 4:00 pm IST
    // if (currentTime >= 555 && currentTime <= 960) {
    // Send AJAX request to server to get updated chart data
    $.ajax({
      url: signal_url,
      type: 'GET',
      success: function (data) {
        // Replace chart HTML with updated data
        $('#signal-graph').html(data.chart);
      }
    });
  }


  function updatesignalChartStart() {
    let signal_url = "{% url 'signal-data-graph' %}?";
    signal_url += `stock_id=${stock_id}`;

    // Send AJAX request to server to get updated chart data
    $.ajax({
      url: signal_url,
      type: 'GET',
      success: function (data) {
        // Replace chart HTML with updated data
        $('#signal-graph').html(data.chart);
      }
    });
  }

  updatesignalChartStart()
  // Call updateChart function every 5 min
  setInterval(updatesignalChart, 1500000);

  $(document).ready(function () {
    // Initialize datepicker library on start and end date input fields
    var startDateInput = document.getElementById('historical-start-date');
    var endDateInput = document.getElementById('historical-end-date');
    var intervalSelect = document.getElementById('interval');
    var price = document.getElementById('price');
    var duration = document.getElementById('duration');

    var price_val = price.value;
    var duration_val = duration.value;
    forecastValue(price_val, duration_val);

    price.addEventListener('change', function () {
      var price_val = price.value;
      var duration_val = duration.value;
      forecastValue(price_val, duration_val);

    });

    duration.addEventListener('change', function () {
      var price_val = price.value;
      var duration_val = duration.value;
      forecastValue(price_val, duration_val);

    });

    startDateInput.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(stock_id, startDate, endDate, interval);
    });

    endDateInput.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(stock_id, startDate, endDate, interval);
    });

    intervalSelect.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(stock_id, startDate, endDate, interval);
    });
  });


  // Retrieve data from context variable 
  const labels = {{ dates| safe }};
  const prices = {{ prices| safe }};
  var name = "{{stock_name}}";

  // const labels = dateList.map(date => date.toDateString());


  // Create chart using Chart.js
  var chart = null;
  var chartData = {
    labels: labels,
    datasets: [{
      label: name,
      data: prices,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }]
  };

  // Update the chart data with new prices and dates
  function updateChartData(data) {
    chartData.labels = data.dates;
    chartData.datasets[0].data = data.prices;
    chartData.datasets[0].label = data.stock_name;
  }

  const ctx = document.getElementById('historical-data-graph').getContext('2d');

  updateChart()
  // Update the chart with new data
  function updateChart() {
    if (!chart) {
      // Create a new chart if it doesn't exist
      var ctx = document.getElementById('historical-data-graph').getContext('2d');

      chart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    } else {
      // Update the existing chart with new data
      chart.data = chartData;
      chart.update();
    }
  }

  // Update the HTML elements with new start and end dates and interval
  function updateHTML(startDate, endDate, interval) {
    $('#historical-start-date').text(startDate);
    $('#historical-end-date').text(endDate);
    $('#interval').text(interval);
  }


  var chartForecast = null;
  var chartDataForecast = {
    labels: labels,
    datasets: [{
      label: name,
      data: prices,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }]
  };

  function updateChartDataForecast(data) {
    chartDataForecast.labels = data.dates;
    chartDataForecast.datasets[0].data = data.prices;
    chartDataForecast.datasets[0].label = data.stock_name;
  }

  // Update the chart with new data
  function updateChartForecast(data_label) {
    if (!chartForecast) {
      // Create a new chart if it doesn't exist
      var pred_ctx = document.getElementById('pred-data-graph').getContext('2d');

      pred_chart = new Chart(pred_ctx, {
        type: 'line',
        data: chartDataForecast,
        options: {
          title: {
            display: true,
            text: data_label,
            fontSize: 18,
            fontWeight: 'bold',
            fontFamily: 'Roboto, sans-serif'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }

      });
    } else {
      // Update the existing chart with new data
      chartForecast.data = chartDataForecast;
      chartForecast.update();
    }
  }

  // Update the HTML elements with new start and end dates and interval
  function updateHTMLPriceAndDuration(price, duration) {
    $('#price').text(price);
    $('#duration').text(duration);
  }

  // for global indicators
  let global_index_url = "{% url 'global-index-status' %}";
  function updateGlobalData() {
    $.ajax({
      type: 'GET',
      url: global_index_url,
      success: function (response) {
        var global_index = response;


        // Function to generate HTML code for the entire API response
        function generateHTMLList(response) {
          var html = '';
          let sign = false;
          for (var i = 0; i < response.length; i++) {
            html += generateHTMLG(response[i], sign);
          }
          return html;
        }

        function generateHTMLG(item, sign) {
          let percentageClass = item.percentage_change > 0 ? "stats-small__percentage stats-small__percentage--increase" : "stats-small__percentage stats-small__percentage--decrease";
          let currency_sign = (["S&P 500", "Nasdaq", "Dow Jones"].includes(item.name)) ? '$' : '₹';
          let price = (currency_sign === '$') ? `${item.price}$` : `₹${item.price}`;
          return `
          <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-medium__label text">${item.name}</span>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__value count my-1 text-right">${price}</span>
          <span class="${percentageClass}">${item.percentage_change + "%"}</span>
        </div>
      </div>
          `;
        }

        // Generate HTML code for the API response
        var globalhtmlCode = generateHTMLList(global_index);

        // Append the HTML code to a specific element in your page
        var globalcontainer = document.getElementById('global-indicator');
        globalcontainer.innerHTML = globalhtmlCode;
        globalcontainer.style.height = 'auto';
      }
    });
  }
  updateGlobalData()
  $(document).ready(function () {
    setInterval(updateGlobalData, 20000); //update data every 20 seconds
  });

  // for top gainers losers stocks
  // Function to generate HTML code for each item in the API response
  function generateHTML(item, sign) {
    let percentageClass = item.percentage_change > 0 ? "stats-small__percentage stats-small__percentage--increase" : "stats-small__percentage stats-small__percentage--decrease";
    let currency_sign = (sign === true) ? '$' : '';
    let price = sign ? item.price : `₹${item.price}`;
    return `
          <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-medium__label text">${item.name}</span>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__value count my-1 text-right">${price}${currency_sign}</span>
          <span class="${percentageClass}">${item.percentage_change + "%"}</span>
        </div>
      </div>
          `;
  }
  function generateHTMLList(response, sign) {
    var html = '';
    for (var i = 0; i < response.length; i++) {
      html += generateHTML(response[i], sign);
    }
    return html;
  }

  let gainers_losers_url = "{% url 'gainers-losers-status' %}";
  function updateGainersLosersData() {
    $.ajax({
      type: 'GET',
      url: gainers_losers_url,
      success: function (response) {
        var top_gainers = response["gainers"];
        var top_losers = response["losers"];
        var top_crypto = response["crypto"];


        // Function to generate HTML code for the entire API response


        // Generate HTML code for the API response
        let sign = false;
        var gainerhtmlCode = generateHTMLList(top_gainers, sign);
        var looserhtmlCode = generateHTMLList(top_losers, sign);
        sign = true;
        var cryptohtmlCode = generateHTMLList(top_crypto, sign);

        // Append the HTML code to a specific element in your page
        var gainercontainer = document.getElementById('top-gainer');
        gainercontainer.innerHTML = gainerhtmlCode;
        gainercontainer.style.height = 'auto';
        var loosercontainer = document.getElementById('top-looser');
        loosercontainer.innerHTML = looserhtmlCode;
        loosercontainer.style.height = 'auto';
        var cryptocontainer = document.getElementById('top-crypto');
        cryptocontainer.innerHTML = cryptohtmlCode;
        cryptocontainer.style.height = 'auto';
      }
    });
  }
  updateGainersLosersData()
  $(document).ready(function () {
    setInterval(updateGainersLosersData, 3600000); //update data every 1 hour
  });
</script>



<style>
  @keyframes movingDots {
    0%, 100% {
        content: ".";
    }
    33% {
        content: "..";
    }
    66% {
        content: "...";
    }
}

.typing .responsText::before {
    content: "...";
    animation: movingDots 1.5s infinite;
}
  .Messages_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .msg {
    display: flex;
    align-items: center;
    max-width: 70%;
    border-radius: 8px;
    padding: 8px;
    word-break: break-word;
    background-color: #eebbd5;
  }

  .msg.user {
    justify-content: flex-end;
    margin-left: auto;
    background-color: #e3f2fd;
  }

  .msg.typing {
    justify-content: flex-start;
    margin-right: auto;
    background-color: #eebbd5;
  }

  .avtr {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .avtr figure {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .card-expander-row {
    display: flex;
    flex-wrap: wrap;
  }

  .card-expander-column {
    flex: 0 0 70%;
    /* Adjust the width as needed */
    padding: 10px;
    /* Additional styles for custom columns */
  }

  .card-expander-column-1 {
    flex: 0 0 30%;
    /* Adjust the width as needed */
    padding: 10px;
    /* Additional styles for custom columns */
  }

  .news-container {
    margin-bottom: 20px;
  }

  .headline {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .description {
    margin-bottom: 5px;
  }

  .source {
    color: #666;
  }

  .timestamp {
    color: #999;
    font-size: 12px;
  }

  .gauge-meter {
    width: 200px;
    height: 20px;
    border: 1px solid #ccc;
    position: relative;
  }

  .gauge-meter-fill {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #69B34C;
  }

  h3 {
    font-family: "Inter";
    font-size: 70px;
    font-weight: 600;
    margin: 0px;
    color: Black;
    user-select: none;
    z-index: 0;
  }

  h3 span {
    color: #03c988;
  }

  .top-gainer {
    min-height: 250px;
  }

  .search-result {
    color: rgb(9, 9, 9);
    text-decoration: none;
    cursor: pointer;
  }

  .search-result:hover {
    text-decoration: underline;
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

    .chatloader {
    margin-bottom: -2px;
    text-align: center;
    opacity: .3;
  }

  .loader__dot {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: 0 1px;
    background: black;
    border-radius: 50px;
    animation: loader 0.45s infinite alternate;
    &:nth-of-type(2) {
      animation-delay: .15s;
    }
    &:nth-of-type(3) {
      animation-delay: .35s;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }

  .my-card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
  }

  .my-card:hover .my-card__inner {
    background-color: #03c988;
    transform: scale(1.05);
  }

  .my-card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    /* color: #eceef1; */
    /* font-size: 1.5em; */
    /* text-transform: uppercase; */
    /* text-align: center; */
    transition: all 0.2s ease-in-out;
  }

  .my-card__inner:after {
    transition: all 0.3s ease-in-out;
  }

  .my-card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
    width: 100%;
    position: relative;
  }

  .my-card.is-collapsed .my-card__inner:after {
    content: "";
    opacity: 0;
  }

  .my-card.is-collapsed .my-card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
  }

  .my-card-text {
    margin-bottom: 0.5rem;
  }

  .my-card.is-expanded .my-card__inner {
    background-color: #949fb0;
  }

  .my-card.is-expanded .my-card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #000000;
  }

  .my-card.is-expanded .my-card__expander {
    max-height: 1500px;
    min-height: 500px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
  }

  .my-card.is-expanded:hover .my-card__inner {
    transform: scale(1);
  }

  .my-card.is-inactive .my-card__inner {
    pointer-events: none;
    opacity: 0.5;
  }

  .my-card.is-inactive:hover .my-card__inner {
    background-color: #949fb0;
    transform: scale(1);
  }

  @media screen and (min-width: 992px) {
    .my-card:nth-of-type(3n+2) .my-card__expander {
      margin-left: calc(-100% - 30px);
    }

    .my-card:nth-of-type(3n+3) .my-card__expander {
      margin-left: calc(-200% - 60px);
    }

    .my-card:nth-of-type(3n+4) {
      clear: left;
    }

    .my-card__expander {
      width: calc(300% + 60px);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .my-card:nth-of-type(2n+2) .my-card__expander {
      margin-left: calc(-100% - 30px);
    }

    .my-card:nth-of-type(2n+3) {
      clear: left;
    }

    .my-card__expander {
      width: calc(200% + 30px);
    }
  }
</style>

{% endblock javascripts %}