{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- Page Header --> 
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-3">
    <h3 >Intelli<span>In</span>vestor</h3>
  </div>
</div>
<!-- End Page Header -->
<!-- Small Stats Blocks -->
<div class="row">
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Nifty 50</span>
            <h6 class="stats-small__value count my-3">
              <span id="nifty-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="nifty-details"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Sensex</span>
            <h6 class="stats-small__value count my-3">
              <span id="sensex-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage"  id="sensex-details"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">India Vix</span>
            <h6 class="stats-small__value count my-3">
              <span id="vix-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="vix-details"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Bank Nifty</span>
            <h6 class="stats-small__value count my-3">
              <span id="bank-nifty-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="bank-nifty-details"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- End Small Stats Blocks -->
<div class="row" id="historical-div-main">
  <!-- First Column -->
  <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
    <!-- Historical Data -->
    <div class="card card-small">
      <div class="card-header border-bottom">
        <form method="get" action="{% url 'search' %}" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
          <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <input class="navbar-search form-control" type="text" name="q" id="search-input" value="{{ keyword }}"
              placeholder="Search for something..." aria-label="Search">
          </div>
        </form>
        <div id="search-results" style="overflow: auto; z-index: 1; position: absolute; background: white;"></div>
      </div>
      <div class="card-body pt-0">
        <div class="row border-bottom py-2 bg-light">

          <div class="input-daterange input-group" id="datepicker">

            <input type="date" class="input-sm form-control ml-3" id="historical-start-date" name="start"
              placeholder="Start date">
            <input type="date" class="input-sm form-control" id="historical-end-date" name="end" placeholder="End date">

            <div class="col-sm-3">
              <select class="form-control" id="interval" placeholder="Interval">
                <option value="">Select an interval</option>
                <option value="1m">1 min</option>
                <option value="5m">5 min</option>
                <option value="15m">15 min</option>
                <option value="30m">30 min</option>
                <option value="1h">1 hour</option>
                <option value="1d">1 day</option>
                <option value="1wk">1 week</option>
                <option value="1mo">1 month</option>
                <option value="3mo">3 month</option>
              </select>
            </div>
          </div>
        </div>
        <canvas height="130" style="max-width: 100% !important;" class="historical-data-graph"
          id="historical-data-graph"></canvas>
      </div>
    </div>

    <!-- Predictions Data -->
    <div class="card card-small mt-4" style="min-height: 350px">
      <div class="card-body pt-0", id="signal-graph-1">
        <div class="row border-bottom py-2 bg-light">
          <div class="input-daterange input-group">
            <!-- <input type="number" class="input-sm form-control ml-3" id="price" name="price" min="100" required placeholder="Enter The Price" value="1000"> -->
            <div class="col-lg-6">
              <label for="duration">Investment: ₹  <span id="investment-value">1000</span></label>
              <input placeholder="Investment: 1" type="range" class="input-sm form-control-range" id="price" name="price" min="1000" max="100000" value="1000" oninput="updatePriceValue(this.value)">
            </div>
            <div class="col-lg-6">
            <label for="duration">Duration (months): <span id="duration-value">1</span></label>
            <input placeholder="Duration (months): 1" type="range" class="input-sm form-control-range" id="duration" name="duration" min="1" max="60" value="1" oninput="updateDurationValue(this.value)">
          </div>
        </div>
        </div>
        <div id="pred-chart-div">
          <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
        </div>
        <!-- {{ pred_chart|safe }} -->
      </div>
    </div>
    <!-- Signals Data -->
    <div class="card card-small mt-4" style="min-height: 400px">
      <div class="card-body pt-0", id="signal-graph">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
    </div>

    
  </div>
  <!-- Second Column -->
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4" >
    <div class="card card-small" style="min-height: 450px">
      <div class="card-header border-bottom">
        <h6 class="m-0">Global Indicators</h6>
      </div>
      <div id="global-indicator">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>
    
    <div class="card card-small mt-4" style="min-height: 250px">
      <div class="card-header border-bottom">
        <h6 class="m-0">Top Gainers</h6>
      </div>
      <div id="top-gainer">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>
    <div class="card card-small mt-4" style="min-height: 250px;">
      <div class="card-header border-bottom">
        <h6 class="m-0">Top Loosers</h6>
      </div>
      <div id="top-looser">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>
    <div class="card card-small mt-4" style="min-height: 250px;">
      <div class="card-header border-bottom">
        <h6 class="m-0">Top Crypto</h6>
      </div>
      <div id="top-crypto">
        <div class="loader" style="display: flex; align-items: center; justify-content: center;"></div>
      </div>
      <div class="mb-3"></div>
    </div>
  </div>
</div>

<!-- Research Portfolio Investment -->
<div class="home_search">
  <div class="row">
    <div class="col">
      <div class="home_search_container">
        <div class="home_search_title">Personalized Investment</div>
        <div class="home_search_content">
          <form action="." class="home_search_form" id="home_search_form" method="post">
            {% csrf_token %}
            <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
              <input type="number" class="search_input search_input_1" placeholder="Amount" required="required" min="1000" max="1000000">
              <input type="number" class="search_input search_input_2" placeholder="Duration" required="required" min="1" max="60">
              <select class="search_input search_input_3" required="required">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
              <button class="home_search_button" id="submit_button">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cards">
  <div class="my-card [ is-collapsed ] ">
      <div class="my-card__inner [ js-expander ]">
          <span>Card</span>
          <i class="fa fa-folder-o"></i>
      </div>
      <div class="my-card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
      </div>
  </div>

  <div class="my-card [ is-collapsed ] ">
      <div class="my-card__inner [ js-expander ]">
          <span>Card</span>
          <i class="fa fa-folder-o"></i>
      </div>
      <div class="my-card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
      </div>
  </div>

  <!-- Add more cards as needed -->

</div>



<div class="container">
  <div class="row" id="card_row"></div>
</div>

<div class = "container" >
<div class="collapse" id="collapsewithbutton1">
  <div class="card card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
  </div>
</div>
</div>


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  var $cell = $('.my-card');

//open and close card when clicked on card
$cell.find('.js-expander').click(function() {

  var $thisCell = $(this).closest('.my-card');

  if ($thisCell.hasClass('is-collapsed')) {
    $cell.not($thisCell).removeClass('is-expanded').addClass('is-collapsed').addClass('is-inactive');
    $thisCell.removeClass('is-collapsed').addClass('is-expanded');
    
    if ($cell.not($thisCell).hasClass('is-inactive')) {
      //do nothing
    } else {
      $cell.not($thisCell).addClass('is-inactive');
    }

  } else {
    $thisCell.removeClass('is-expanded').addClass('is-collapsed');
    $cell.not($thisCell).removeClass('is-inactive');
  }
});

//close card when click on cross
$cell.find('.js-collapser').click(function() {

  var $thisCell = $(this).closest('.my-card');

  $thisCell.removeClass('is-expanded').addClass('is-collapsed');
  $cell.not($thisCell).removeClass('is-inactive');

});

</script>

<script>
  $(document).ready(function() {
    // Get the CSRF token from cookies
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Cookie name is in the format "csrftoken=<token>"
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    // Handle click event of the submit button
    $('#submit_button').click(function(e) {
      e.preventDefault(); // Prevent the form from submitting

      // Get the input values
      var amount = $('.search_input_1').val();
      var duration = $('.search_input_2').val();
      var risk = $('.search_input_3').val();
      let personalized_investment = "{% url 'personalized-investment' %}";

      // Get the CSRF token
      var csrftoken = getCookie('csrftoken');

      // Add the CSRF token to the request headers
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
          }
        }
      });

      // Make the API call
      $.ajax({
        url: personalized_investment,
        type: 'POST',
        data: {
          amount: amount,
          duration: duration,
          risk: risk
        },
        success: function(response) {
          // Process the API response and generate the cards
          var cardsHtml = '';
          for (var rank in response) {
            var cardData = response[rank];
            var cardHtml = '<div class="col-md-4 mb-4">' +
              '<div class="card" data-toggle="collapse" data-target="#collapsewithbutton' + rank + '" aria-expanded="false" aria-controls="collapsewithbutton' + rank + '">' +
              '<div class="card-body">' +
              '<h5 class="hide">' + rank + '</h5>' +
              '<h5 class="card-title">' + cardData.name + '</h5>' +
              '<p class="card-text">Stock Price: ' + cardData['Stock Price'] + '</p>' +
              '<p class="card-text">Number of Stocks: ' + cardData['number of stocks'] + '</p>' +
              '<p class="card-text">Package Value: ' + cardData['package value'] + '</p>' +
              '<p class="card-text">Risk: ' + cardData.risk + '</p>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '<div class="collapse mb-3" id="collapsewithbutton' + rank + '">' +
              '<div class="card card-body">' +
              'rank ' + rank +' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.' +
              '</div>' +
              '</div>';

            cardsHtml += cardHtml;
          }

          // Append the generated cards to the card row
          $('#card_row').html(cardsHtml);

          // Collapse and toggle functionality
          $('.card').click(function() {
            // Close all other card divs
            $('.collapse.show').collapse('hide');
            var name = $(this).find('.card-title').text();
            console.log("cardData")
            console.log(name)
          });
        },
        error: function() {
          console.log('API request failed.');
        }
      });
    });
  });
</script>



<script>
  function resetForm() {
    document.getElementById("historical-start-date").value = "";
    document.getElementById("historical-end-date").value = "";
    document.getElementById("price").value = 1000;
    document.getElementById("duration").value = 1;
    updatePriceValue(1000);
    updateDurationValue(1);
    document.getElementById("interval").selectedIndex = 0;
  }
  const searchInput = document.getElementById('search-input');
  const searchResults = document.getElementById('search-results');

  searchInput.addEventListener('input', (event) => {
    const keyword = event.target.value;
    if (keyword) {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/search/?q=${keyword}`);
      xhr.onreadystatechange = () => {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const items = JSON.parse(xhr.responseText);
            let html = '';
            if (items.length > 0) {
              html += '<p style="margin-bottom:auto;">';
                for (const item of items) {
                  html += `<a href="#" onclick="changeAllGraph('${item.stock_id}')" class="search-result">${item.name}</a><br>`;
                }
              html += '</p>';
            }
            else {
              html += '<p>No Stocks found.</p>';
            }
            searchResults.innerHTML = html;
          } else {
            searchResults.innerHTML = 'Error';
          }
        }
      };
      xhr.send();
    } else {
      searchResults.innerHTML = '';
    }
  });
  function changeAllGraph(id) {
    // Your JavaScript code goes here
    console.log(id)
    fetchValue(id);
    resetForm();
    stock_id = id
    var searchInput = document.getElementById('search-input');

    // Set the value of the input field to an empty string
    searchInput.value = '';
    searchResults.innerHTML = '';
    updateHTMLPriceAndDuration(1000,1);
    forecastValue(1000, 1);
    updatesignalChartStart();
  }
  searchResults.addEventListener('click', (event) => {
    if (event.target.classList.contains('search-result')) {
      event.preventDefault();
      const href = event.target.getAttribute('href');
      window.location.href = href;
    }
  }); 
</script>

<script>
  function updateDurationValue(value) {
    document.getElementById("duration-value").innerHTML = value;
  }
  function updatePriceValue(value) {
    document.getElementById("investment-value").innerHTML = value;
  }
  
  let indian_index_url = "{% url 'indian-index-status' %}";
  function updateData() {
    $.ajax({
      type: 'GET',
      url: indian_index_url,
      success: function (response) {
        var nifty50 = response["Nifty 50"];
        var sensex = response["Sensex"];
        var indiaVIX = response["India VIX"];
        var bankNifty = response["Bank Nifty"];

        $("#nifty-details").text(nifty50.change +" " +"(" + nifty50.percentage_change + "%)");
        $("#nifty-price").text(nifty50.price);

        if (nifty50.change < 0) {
          $("#nifty-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#nifty-details").addClass("stats-small__percentage--increase");
        }

        $("#sensex-details").text(sensex.change +" " +"(" + sensex.percentage_change + "%)");
        $("#sensex-price").text(sensex.price);

        if (sensex.change < 0) {
          $("#sensex-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#sensex-details").addClass("stats-small__percentage--increase");
        }

        $("#vix-details").text(indiaVIX.change +" " +"(" + indiaVIX.percentage_change + "%)");
        $("#vix-price").text(indiaVIX.price);

        if (indiaVIX.change < 0) {
          $("#vix-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#vix-details").addClass("stats-small__percentage--increase");
        }

        $("#bank-nifty-details").text(bankNifty.change +" " +"(" + bankNifty.percentage_change + "%)");
        $("#bank-nifty-price").text(bankNifty.price);

        if (bankNifty.change < 0) {
          $("#bank-nifty-details").addClass("stats-small__percentage--decrease");
        } else {
          $("#bank-nifty-details").addClass("stats-small__percentage--increase");
        }
      }
    });
  }
  updateData()
  $(document).ready(function () {
    setInterval(updateData, 8000); //update data every 5 seconds
  });


  let today = new Date().toISOString().split('T')[0];
  document.getElementById("historical-start-date").setAttribute("max", today);
  document.getElementById("historical-end-date").setAttribute("max", today);
  var stock_id = "{{stock_id}}";

  function fetchValue(stock_id, startDate, endDate, interval) {

    // Validate that the start date is less than the end date
    if (startDate && endDate && startDate >= endDate) {
      alert('The start date must be less than the end date.');
      return;
      // your API call logic here
    }

    const newStartDate = new Date(startDate);
    const newEndDate = new Date(endDate);
    const diffDays = (newEndDate - newStartDate) / (1000 * 60 * 60 * 24);
    if (!interval) {
      if (diffDays <= 1) {
        interval = "5m";
      } else if (diffDays > 1 && diffDays <= 5) {
        interval = "30m";
      } else if (diffDays > 5 && diffDays <= 20) {
        interval = "1h";
      } else if (diffDays > 20 && diffDays <= 90) {
        interval = "1d";
      } else if (diffDays > 90 && diffDays <= 730) {
        interval = "1wk";
      } else if (diffDays > 730 && diffDays < 3650) {
        interval = "1mo";
      } else {
        interval = "3mo";
      }
    }
    let url = "{% url 'historical-data' %}?";
    url += `stock_id=${stock_id}`;

    if (startDate && endDate) {
      url += `&start_date=${startDate}&end_date=${endDate}`;
    }
    if (interval) {
      url += `&interval=${interval}`;
    }

    fetch(url)
      .then(response => response.json())
      .then(data => {
        updateChartData(data);
        updateChart();
        updateHTML(data);
      })
      .catch(error => console.error(error));

  }

  predCavasHtml = `<canvas height="130" style="max-width: 100% !important;" class="pred-data-graph"
          id="pred-data-graph"></canvas>`
  function forecastValue(price, duration) {

  // Validate that the start date is less than the end date
    if (price < 100) {
      alert('Please Enter Price Greater than 100');
      return;
      // your API call logic here
    }

    
    let url = "{% url 'forecast-data' %}?";
    url += `stock_id=${stock_id}`;

    if (price) {
      url += `&price=${price}`;
    }
    if (duration) {
      url += `&duration=${duration}`;
    }
        
    fetch(url)
      .then(response => response.json())
      .then(data => {
        var predcontainer = document.getElementById('pred-chart-div');
        predcontainer.innerHTML = predCavasHtml;
        predcontainer.style.height = 'auto';
        updateChartDataForecast(data);
        updateChartForecast(data.chart_string);
        updateHTMLPriceAndDuration(price, duration);
      })
      .catch(error => console.error(error));

    }

  function updatesignalChart() {
      let signal_url = "{% url 'signal-data-graph' %}?";
      signal_url += `stock_id=${stock_id}`;
      const now = new Date();
      const hours = now.getUTCHours() + 5.5; // Add 5.5 hours for IST timezone offset
      const minutes = now.getUTCMinutes();
      const currentTime = hours * 60 + minutes;

      // Check if the current time is between 9:15 am and 4:00 pm IST
      // if (currentTime >= 555 && currentTime <= 960) {
      // Send AJAX request to server to get updated chart data
      $.ajax({
        url: signal_url,
        type: 'GET',
        success: function(data) {
          // Replace chart HTML with updated data
          $('#signal-graph').html(data.chart);
        }
      });
    }
  

  function updatesignalChartStart() {
      let signal_url = "{% url 'signal-data-graph' %}?";
      signal_url += `stock_id=${stock_id}`;
    
      // Send AJAX request to server to get updated chart data
      $.ajax({
        url: signal_url,
        type: 'GET',
        success: function(data) {
          // Replace chart HTML with updated data
          $('#signal-graph').html(data.chart);
        }
      });
    }

  updatesignalChartStart()
  // Call updateChart function every 5 min
  setInterval(updatesignalChart, 1500000);

  $(document).ready(function () {
    // Initialize datepicker library on start and end date input fields
    var startDateInput = document.getElementById('historical-start-date');
    var endDateInput = document.getElementById('historical-end-date');
    var intervalSelect = document.getElementById('interval');
    var price = document.getElementById('price');
    var duration = document.getElementById('duration');

    var price_val = price.value;
    var duration_val = duration.value;
    forecastValue(price_val, duration_val);

    price.addEventListener('change', function () {
      var price_val = price.value;
      var duration_val = duration.value;
      forecastValue(price_val, duration_val);

    });

    duration.addEventListener('change', function () {
      var price_val = price.value;
      var duration_val = duration.value;
      forecastValue(price_val, duration_val);

    });

    startDateInput.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(stock_id, startDate, endDate, interval);
    });

    endDateInput.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(stock_id, startDate, endDate, interval);
    });

    intervalSelect.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(stock_id, startDate, endDate, interval);
    });
  });


  // Retrieve data from context variable 
  const labels = {{ dates| safe }};
  const prices = {{ prices| safe }};
  var name = "{{stock_name}}";

  // const labels = dateList.map(date => date.toDateString());


  // Create chart using Chart.js
  var chart = null;
  var chartData = {
    labels: labels,
    datasets: [{
      label: name,
      data: prices,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }]
  };

  // Update the chart data with new prices and dates
  function updateChartData(data) {
    chartData.labels = data.dates;
    chartData.datasets[0].data = data.prices;
    chartData.datasets[0].label = data.stock_name;
  }

  const ctx = document.getElementById('historical-data-graph').getContext('2d');

  updateChart()
  // Update the chart with new data
  function updateChart() {
    if (!chart) {
      // Create a new chart if it doesn't exist
      var ctx = document.getElementById('historical-data-graph').getContext('2d');

      chart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        } 
      });
    } else {
      // Update the existing chart with new data
      chart.data = chartData;
      chart.update();
    }
  }

  // Update the HTML elements with new start and end dates and interval
  function updateHTML(startDate, endDate, interval) {
    $('#historical-start-date').text(startDate);
    $('#historical-end-date').text(endDate);
    $('#interval').text(interval);
  }


  var chartForecast = null;
  var chartDataForecast = {
    labels: labels,
    datasets: [{
      label: name,
      data: prices,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }]
  };

  function updateChartDataForecast(data) {
    chartDataForecast.labels = data.dates;
    chartDataForecast.datasets[0].data = data.prices;
    chartDataForecast.datasets[0].label = data.stock_name;
  }

  // Update the chart with new data
  function updateChartForecast(data_label) {
    if (!chartForecast) {
      // Create a new chart if it doesn't exist
      var pred_ctx = document.getElementById('pred-data-graph').getContext('2d');

      pred_chart = new Chart(pred_ctx, {
        type: 'line',
        data: chartDataForecast,
        options: {
          title: {
          display: true,
          text: data_label,
          fontSize: 18,
          fontWeight: 'bold',
          fontFamily: 'Roboto, sans-serif'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
        
      });
    } else {
      // Update the existing chart with new data
      chartForecast.data = chartDataForecast;
      chartForecast.update();
    }
  }

  // Update the HTML elements with new start and end dates and interval
  function updateHTMLPriceAndDuration(price, duration) {
    $('#price').text(price);
    $('#duration').text(duration);
  }

  // for global indicators
  let global_index_url = "{% url 'global-index-status' %}";       
  function updateGlobalData() {
    $.ajax({
      type: 'GET',
      url: global_index_url,
      success: function (response) {
        var global_index = response;
       

        // Function to generate HTML code for the entire API response
        function generateHTMLList(response) {
          var html = '';
          let sign = false;
          for (var i = 0; i < response.length; i++) {
            html += generateHTMLG(response[i],sign);
          }
          return html;
        }

        function generateHTMLG(item,sign) {
          let percentageClass = item.percentage_change > 0 ? "stats-small__percentage stats-small__percentage--increase" : "stats-small__percentage stats-small__percentage--decrease";
          let currency_sign = (["S&P 500", "Nasdaq", "Dow Jones"].includes(item.name)) ? '$' : '₹';
          let price = (currency_sign === '$') ? `${item.price}$` : `₹${item.price}`;
          return `
          <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-medium__label text">${item.name}</span>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__value count my-1 text-right">${price}</span>
          <span class="${percentageClass}">${item.percentage_change+ "%"}</span>
        </div>
      </div>
          `;
        }

        // Generate HTML code for the API response
        var globalhtmlCode = generateHTMLList(global_index);
    
        // Append the HTML code to a specific element in your page
        var globalcontainer = document.getElementById('global-indicator');
        globalcontainer.innerHTML = globalhtmlCode;
        globalcontainer.style.height = 'auto';  
      }
    });
  }
  updateGlobalData()
  $(document).ready(function () {
    setInterval(updateGlobalData, 20000); //update data every 20 seconds
  });
  
  // for top gainers losers stocks
  // Function to generate HTML code for each item in the API response
  function generateHTML(item,sign) {
          let percentageClass = item.percentage_change > 0 ? "stats-small__percentage stats-small__percentage--increase" : "stats-small__percentage stats-small__percentage--decrease";
          let currency_sign = (sign === true) ? '$' : '';
          let price = sign ? item.price : `₹${item.price}`;
          return `
          <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-medium__label text">${item.name}</span>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__value count my-1 text-right">${price}${currency_sign}</span>
          <span class="${percentageClass}">${item.percentage_change+ "%"}</span>
        </div>
      </div>
          `;
        }
  function generateHTMLList(response,sign) {
    var html = '';
    for (var i = 0; i < response.length; i++) {
      html += generateHTML(response[i],sign);
    }
    return html;
  }
  
  let gainers_losers_url = "{% url 'gainers-losers-status' %}";
  function updateGainersLosersData() {
    $.ajax({
      type: 'GET',
      url: gainers_losers_url,
      success: function (response) {
        var top_gainers = response["gainers"];
        var top_losers = response["losers"];
        var top_crypto = response["crypto"];
       

        // Function to generate HTML code for the entire API response
        

        // Generate HTML code for the API response
        let sign = false;
        var gainerhtmlCode = generateHTMLList(top_gainers, sign);
        var looserhtmlCode = generateHTMLList(top_losers, sign);
        sign = true;
        var cryptohtmlCode = generateHTMLList(top_crypto,sign);
    
        // Append the HTML code to a specific element in your page
        var gainercontainer = document.getElementById('top-gainer');
        gainercontainer.innerHTML = gainerhtmlCode;
        gainercontainer.style.height = 'auto';
        var loosercontainer = document.getElementById('top-looser');
        loosercontainer.innerHTML = looserhtmlCode;
        loosercontainer.style.height = 'auto';
        var cryptocontainer = document.getElementById('top-crypto');
        cryptocontainer.innerHTML = cryptohtmlCode;
        cryptocontainer.style.height = 'auto';
      }
    });
  }
  updateGainersLosersData()
  $(document).ready(function () {
    setInterval(updateGainersLosersData, 3600000); //update data every 1 hour
  });
</script>



<style>
  h3 {
  font-family: "Inter";
  font-size: 70px;
  font-weight: 600;
  margin: 0px;
  color: Black;
  user-select: none;
  z-index: 0;
  }
  h3 span {
  color: #03c988;
  }
  .top-gainer {
    min-height: 250px;
  }
  .search-result {
    color: rgb(9, 9, 9);
    text-decoration: none;
    cursor: pointer;
  }

  .search-result:hover {
    text-decoration: underline;
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}

.my-card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
}

.my-card:hover .my-card__inner {
    background-color: #1abc9c;
    transform: scale(1.05);
}

.my-card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #1abc9c;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.my-card__inner:after {
    transition: all 0.3s ease-in-out;
}

.my-card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #00b3ff;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #eceef1;
    font-size: 1.5em;
}

.my-card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.my-card.is-collapsed .my-card__inner:after {
    content: "";
    opacity: 0;
}

.my-card.is-collapsed .my-card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}

.my-card.is-expanded .my-card__inner {
    background-color: #1abc9c;
}

.my-card.is-expanded .my-card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
}

.my-card.is-expanded .my-card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}

.my-card.is-expanded:hover .my-card__inner {
    transform: scale(1);
}

.my-card.is-inactive .my-card__inner {
    pointer-events: none;
    opacity: 0.5;
}

.my-card.is-inactive:hover .my-card__inner {
    background-color: #096855;
    transform: scale(1);
}

@media screen and (min-width: 992px) {
    .my-card:nth-of-type(3n+2) .my-card__expander {
        margin-left: calc(-100% - 30px);
    }
    .my-card:nth-of-type(3n+3) .my-card__expander {
        margin-left: calc(-200% - 60px);
    }
    .my-card:nth-of-type(3n+4) {
        clear: left;
    }
    .my-card__expander {
        width: calc(300% + 60px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .my-card:nth-of-type(2n+2) .my-card__expander {
        margin-left: calc(-100% - 30px);
    }
    .my-card:nth-of-type(2n+3) {
        clear: left;
    }
    .my-card__expander {
        width: calc(200% + 30px);
    }
}

</style>

{% endblock javascripts %}