{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">Dashboard</span>
    <h3 class="page-title">Stock Analytic Dashboard</h3>
  </div>
</div>
<!-- End Page Header -->
<!-- Small Stats Blocks -->
<div class="row">
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Nifty 50</span>
            <h6 class="stats-small__value count my-3">
              <span id="nifty-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="nifty-percentage">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Sensex</span>
            <h6 class="stats-small__value count my-3">
              <span id="sensex-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="sensex-percentage">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">India Vix</span>
            <h6 class="stats-small__value count my-3">
              <span id="vix-price">
                <div class="loader"></div>
              </span>
            </h6>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="vix-percentage">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Bank Nifty</span>
            <h3 class="stats-small__value count my-3">
              <span id="bank-nifty-price">
                <div class="loader"></div>
              </span>
            </h3>
          </div>
          <div class="stats-small__data">
            <span class="stats-small__percentage" id="bank-nifty-percentage">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- End Small Stats Blocks -->
<div class="row" id="historical-div-main">
  <!-- First Column -->
  <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
    <!-- Historical Data -->
    <div class="card card-small">
      <div class="card-header border-bottom">
        <form method="get" action="{% url 'search' %}" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
          <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <input class="navbar-search form-control" type="text" name="q" id="search-input" value="{{ keyword }}"
              placeholder="Search for something..." aria-label="Search">
          </div>
        </form>
        <div id="search-results" style="overflow: auto; z-index: 1; position: absolute; background: white;"></div>
      </div>
      <div class="card-body pt-0">
        <div class="row border-bottom py-2 bg-light">

          <div class="input-daterange input-group" id="datepicker">

            <input type="date" class="input-sm form-control ml-3" id="historical-start-date" name="start"
              placeholder="Start date">
            <input type="date" class="input-sm form-control" id="historical-end-date" name="end" placeholder="End date">

            <div class="col-sm-3">
              <select class="form-control" id="interval" placeholder="Interval">
                <option value="">Select an interval</option>
                <option value="1m">1 min</option>
                <option value="5m">5 min</option>
                <option value="15m">15 min</option>
                <option value="30m">30 min</option>
                <option value="1h">1 hour</option>
                <option value="1d">1 day</option>
                <option value="1wk">1 week</option>
                <option value="1mo">1 month</option>
                <option value="3mo">3 month</option>
              </select>
            </div>
          </div>
        </div>
        <canvas height="130" style="max-width: 100% !important;" class="historical-data-graph"
          id="historical-data-graph"></canvas>
      </div>
    </div>

    <!-- Predictions Data -->
    <div class="card card-small mt-4">
      <div class="card-body pt-0", id="signal-graph-1">
        <div class="row border-bottom py-2 bg-light">
          <div class="input-daterange input-group">
            <input type="number" class="input-sm form-control ml-3" id="price" name="price" min="100" required placeholder="Enter The Price">
            <div class="col-lg-6">
            <label for="duration">Duration (months): <span id="duration-value">1</span></label>
            <input placeholder="Duration (months): 1" type="range" class="input-sm form-control-range" id="duration" name="duration" min="1" max="60" value="1" oninput="updateDurationValue(this.value)">
          </div>
        </div>
        </div>
        <canvas height="130" style="max-width: 100% !important;" class="pred-data-graph"
          id="pred-data-graph"></canvas>
        <!-- {{ pred_chart|safe }} -->
      </div>
    </div>
    <!-- Signals Data -->
    <div class="card card-small mt-4">
      <div class="card-body pt-0", id="signal-graph">
        {{ chart|safe }}
      </div>
    </div>

    
  </div>
  <!-- Second Column -->
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card card-small">
      <div class="card-header border-bottom">
        <h6 class="m-0">Global Indicators</h6>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Dollar</span>
          <h6 class="stats-small__value count my-3">84</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">1.4%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Gold</span>
          <h6 class="stats-small__value count my-3">64021</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">3.3%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Silver</span>
          <h6 class="stats-small__value count my-3">76041</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">1.2%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Dollar</span>
          <h6 class="stats-small__value count my-3">84</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">1.4%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Gold</span>
          <h6 class="stats-small__value count my-3">64021</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">3.3%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Silver</span>
          <h6 class="stats-small__value count my-3">76041</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">1.2%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Dollar</span>
          <h6 class="stats-small__value count my-3">84</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">1.4%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Gold</span>
          <h6 class="stats-small__value count my-3">64021</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">3.3%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-small__label text-uppercase">Silver</span>
          <h6 class="stats-small__value count my-3">76041</h6>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__percentage stats-small__percentage--increase">1.2%</span>
        </div>
      </div>
    </div>
    <div class="card card-small mt-4">
      <div class="card-header border-bottom">
        <h6 class="m-0">Trending Stocks</h6>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-medium__label text-uppercase">Reliance</span>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__value count my-1 text-right">2675</span>
          <span class="stats-small__percentage stats-small__percentage--increase">1.4%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-medium__label text-uppercase">HDFC BANK</span>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__value count my-1 text-right">1654</span>
          <span class="stats-small__percentage stats-small__percentage--decrease">4.4%</span>
        </div>
      </div>
      <div class="card-body d-flex py-0">
        <div class="stats-small__data text">
          <span class="stats-medium__label text-uppercase">Tata Motors</span>
        </div>
        <div class="stats-small__data">
          <span class="stats-small__value count my-1 text-right">235</span>
          <span class="stats-small__percentage stats-small__percentage--increase mb-3">2.4%</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
  const searchInput = document.getElementById('search-input');
  const searchResults = document.getElementById('search-results');

  searchInput.addEventListener('input', (event) => {
    const keyword = event.target.value;
    if (keyword) {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/search/?q=${keyword}`);
      xhr.onreadystatechange = () => {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const items = JSON.parse(xhr.responseText);
            let html = '';
            if (items.length > 0) {
              html += '<p style="margin-bottom:auto;">';
              for (const item of items) {
                html += `<a href="?symbol=${item.symbol}" class="search-result">${item.name}</a></br>`;
              }
              html += '</p>';
            }
            else {
              html += '<p>No Stocks found.</p>';
            }
            searchResults.innerHTML = html;
          } else {
            searchResults.innerHTML = 'Error';
          }
        }
      };
      xhr.send();
    } else {
      searchResults.innerHTML = '';
    }
  });
  searchResults.addEventListener('click', (event) => {
    if (event.target.classList.contains('search-result')) {
      event.preventDefault();
      const href = event.target.getAttribute('href');
      window.location.href = href;
    }
  }); 
</script>

<script>
  function updateDurationValue(value) {
    document.getElementById("duration-value").innerHTML = value;
  }
  let indian_index_url = "{% url 'indian-index-status' %}";
  function updateData() {
    $.ajax({
      type: 'GET',
      url: indian_index_url,
      success: function (response) {
        console.log(response)
        var nifty50 = response["Nifty 50"];
        var sensex = response["Sensex"];
        var indiaVIX = response["India VIX"];
        var bankNifty = response["Bank Nifty"];

        $("#nifty-price").text(nifty50.current_price.toFixed(2));
        $("#nifty-percentage").text(nifty50.price_change_percentage.toFixed(2));
        if (nifty50.price_change_percentage < 0) {
          $("#nifty-percentage").addClass("stats-small__percentage--decrease");
        } else {
          $("#nifty-percentage").addClass("stats-small__percentage--increase");
        }

        $("#sensex-price").text(sensex.current_price.toFixed(2));
        $("#sensex-percentage").text(sensex.price_change_percentage.toFixed(2));
        if (sensex.price_change_percentage < 0) {
          $("#sensex-percentage").addClass("stats-small__percentage--decrease");
        } else {
          $("#sensex-percentage").addClass("stats-small__percentage--increase");
        }

        $("#vix-price").text(indiaVIX.current_price.toFixed(2));
        $("#vix-percentage").text(indiaVIX.price_change_percentage.toFixed(2));
        if (indiaVIX.price_change_percentage < 0) {
          $("#vix-percentage").addClass("stats-small__percentage--decrease");
        } else {
          $("#vix-percentage").addClass("stats-small__percentage--increase");
        }

        $("#bank-nifty-price").text(bankNifty.current_price.toFixed(2));
        $("#bank-nifty-percentage").text(bankNifty.price_change_percentage.toFixed(2));
        if (bankNifty.price_change_percentage < 0) {
          $("#bank-nifty-percentage").addClass("stats-small__percentage--decrease");
        } else {
          $("#bank-nifty-percentage").addClass("stats-small__percentage--increase");
        }
      }
    });
  }
  updateData()
  $(document).ready(function () {
    setInterval(updateData, 8000); //update data every 5 seconds
  });


  let today = new Date().toISOString().split('T')[0];
  document.getElementById("historical-start-date").setAttribute("max", today);
  document.getElementById("historical-end-date").setAttribute("max", today);
  var stock_symbol = "{{stock_symbol}}";

  function fetchValue(startDate, endDate, interval) {

    // Validate that the start date is less than the end date
    if (startDate && endDate && startDate >= endDate) {
      alert('The start date must be less than the end date.');
      return;
      // your API call logic here
    }

    const newStartDate = new Date(startDate);
    const newEndDate = new Date(endDate);
    const diffDays = (newEndDate - newStartDate) / (1000 * 60 * 60 * 24);
    if (!interval) {
      if (diffDays <= 1) {
        interval = "5m";
      } else if (diffDays > 1 && diffDays <= 5) {
        interval = "30m";
      } else if (diffDays > 5 && diffDays <= 20) {
        interval = "1h";
      } else if (diffDays > 20 && diffDays <= 90) {
        interval = "1d";
      } else if (diffDays > 90 && diffDays <= 730) {
        interval = "1wk";
      } else if (diffDays > 730 && diffDays < 3650) {
        interval = "1mo";
      } else {
        interval = "3mo";
      }
    }
    let url = "{% url 'historical-data' %}?";
    url += `symbol=${stock_symbol}`;

    if (startDate && endDate) {
      url += `&start_date=${startDate}&end_date=${endDate}`;
    }
    if (interval) {
      url += `&interval=${interval}`;
    }

    fetch(url)
      .then(response => response.json())
      .then(data => {
        updateChartData(data);
        updateChart();
        updateHTML(data);
      })
      .catch(error => console.error(error));

  }

  function updatesignalChart() {
      let signal_url = "{% url 'signal-data-graph' %}?";
      signal_url += `symbol=${stock_symbol}`;
      const now = new Date();
      const hours = now.getUTCHours() + 5.5; // Add 5.5 hours for IST timezone offset
      const minutes = now.getUTCMinutes();
      const currentTime = hours * 60 + minutes;
      console.log(currentTime)

      // Check if the current time is between 9:15 am and 4:00 pm IST
      if (currentTime >= 555 && currentTime <= 960) {
      // Send AJAX request to server to get updated chart data
      $.ajax({
        url: signal_url,
        type: 'GET',
        success: function(data) {
          // Replace chart HTML with updated data
          $('#signal-graph').html(data.chart);
        }
      });
    }
  }

  // Call updateChart function every 5 min
  setInterval(updatesignalChart, 1500000);

  $(document).ready(function () {
    // Initialize datepicker library on start and end date input fields
    var startDateInput = document.getElementById('historical-start-date');
    var endDateInput = document.getElementById('historical-end-date');
    var intervalSelect = document.getElementById('interval');

    startDateInput.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(startDate, endDate, interval);
    });

    endDateInput.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(startDate, endDate, interval);
    });

    intervalSelect.addEventListener('change', function () {
      var startDate = startDateInput.value;
      var endDate = endDateInput.value;
      var interval = intervalSelect.value;

      // call the fetchValue function with updated values
      fetchValue(startDate, endDate, interval);
    });
  });


  // Retrieve data from context variable 
  const labels = {{ dates| safe }};
  const prices = {{ prices| safe }};
  var name = "{{stock_name}}";

  // const labels = dateList.map(date => date.toDateString());


  // Create chart using Chart.js
  var chart = null;
  var chartData = {
    labels: labels,
    datasets: [{
      label: name,
      data: prices,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }]
  };

  // Update the chart data with new prices and dates
  function updateChartData(data) {
    chartData.labels = data.dates;
    chartData.datasets[0].data = data.prices;
  }

  const ctx = document.getElementById('historical-data-graph').getContext('2d');
  const pred_ctx = document.getElementById('pred-data-graph').getContext('2d');

  updateChart()
  // Update the chart with new data
  function updateChart() {
    if (!chart) {
      // Create a new chart if it doesn't exist
      var ctx = document.getElementById('historical-data-graph').getContext('2d');

      chart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        } 
      });

      pred_chart = new Chart(pred_ctx, {
        type: 'line',
        data: chartData,
        options: {
          title: {
          display: true,
          text: '10000 Rs will be 12321rs in 12 months',
          fontSize: 18,
          fontWeight: 'bold',
          fontFamily: 'Roboto, sans-serif'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
        
      });
    } else {
      // Update the existing chart with new data
      chart.data = chartData;
      chart.update();
    }
  }

  // Update the HTML elements with new start and end dates and interval
  function updateHTML(startDate, endDate, interval) {
    $('#historical-start-date').text(startDate);
    $('#historical-end-date').text(endDate);
    $('#interval').text(interval);
  }

</script>



<style>
  .search-result {
    color: rgb(9, 9, 9);
    text-decoration: none;
    cursor: pointer;
  }

  .search-result:hover {
    text-decoration: underline;
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

{% endblock javascripts %}